[submodule ".config/bat/themes/catppuccin"]
	path = .config/bat/themes/catppuccin
	url = https://github.com/catppuccin/bat.git
[submodule ".config/delta/themes/catppuccin"]
	path = .config/delta/themes/catppuccin
	url = https://github.com/catppuccin/delta.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
