""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set surround
"
""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set rnu
set guicursor=""

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" Mappings --------------------------------
map <leader>z <Action>(ToggleDistractionFreeMode)

map <leader>s <Action>(SelectInProjectView)
map <leader>ga <Action>(Annotate)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)

map <leader>pf <Action>(GotoFile)
map <leader>ps <Action>(FindInPath)
map <leader>pe <Action>(SearchEverywhere)
map <leader>pa <Action>(GotoAction)
map <leader>pr <Action>(FindUsages)
map <leader>pv <Action>(ToggleDistractionFreeMode)
map <c-\> <Action>(ActivateTerminalToolWindow)
map <leader>ca <Action>(ShowIntentionActions)
map <leader>rn <Action>(RenameElement)
map <leader>d <Action>(ShowErrorDescription)
map [d <Action>(GotoPreviousError)
map ]d <Action>(GotoNextError)
map <leader>a] <Action>(NextTab)
map <leader>a[ <Action>(PreviousTab)

map gcc <Action>(CommentByLineComment)
map gff <Action>(ShowReformatFileDialog)
